/* Format Content Container */
.w3-content {
  margin-top: 43px; /* Offset by Menu Bar Height */
  max-height: 1037px; /* HD Resolution - (Menu + Footer) */
  max-width: 1920px; /* Override Default (980px) with HD Resolution */
}

/* Affix Countdown to Bottom */
#countdown {
  position: fixed;
  bottom: 0;
  width: 100%;

  /* And Style */
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.25em;
}

/* Center Slideshow Images */
.slideshow img {
  margin: auto;
}

.bold {font-weight: bold;}
.italic {font-style: italic;}

.w3-row-padding {
  margin-bottom: 2%;
}
